
a {
    color: #fff;
}

body {
    background-repeat: no-repeat;
    overflow: hidden;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #1c9ae2;
    background-size: 100% 100%;
}

.log {
    position: absolute;
    left: 2%;
    top: 16%;
    /* transform: translate(0, -50%); */
}

.log img {
    width: 40%;
}

.right {
    position: absolute;
    right: 2%;
    top: 29%;
    /* transform: translate(0, -50%); */
}

.right li {
    color: #fff;
    padding-left: 20px;
    float: left;
}

.right el-button {
    width: 47px;
    margin-left: 32px;
}

.right .el-button.is-round {
    border-radius: 20px;
    padding: 6px 12px;
    width: 70px;
    height: 24px;
}



/* 内容 */
.content {
    width: 100%;
    height: 588px;
    background-color: #fff;
    box-sizing: border-box;
}

.nav {
    position: relative;
}

.nav {
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: #1c9ae2;
    /* opacity:0.5; */
    /* filter:alpha(opacity=50);  */
    border: 1px solid #eee;
    line-height: 30px;
    margin-left: -1px;
}
.nav ul>li {
    float: left;
    margin-right: 3px;
    
}


.nav .el-menu-demo {
    display: inline-block;
    float: left;
    height: 30px;
    margin-right: 3px;
    text-align: center;
    line-height: 30px;
    
}
.el-menu--horizontal>.el-submenu .el-submenu__title {
    height: 30px;
    line-height: 30px;
    border-bottom: 2px solid transparent;
    
}

.nav span {
    display: inline-block;
}

.el-menu--horizontal>.el-menu-item.is-active {
    height: 30px;
    line-height: 30px;
    border-bottom: 2px solid transparent;
    
}
.el-menu--horizontal>.el-menu-item {
    height: 30px;
    line-height: 30px;
    border-bottom: 2px solid transparent;
    
}

.list {
    display: none;
    width: 100px;
    background-color: #1c9ae2;
    border-radius: 8px;
}

.list a {
    display: block;
    width: 100%;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}

.claerfix {
    zoom: 1;
}

.first {
    position: absolute;
    display: block;
    font-size: 32px;
    color: #1c9ae2;
    left: 40%;
    top: 58%;
}



/* 搜索框 */
.sousuokuang {
    display: block;
    float: right;
    width: 100%;
    left: 17%;
    position: relative;
}

.el-input {
    width: 44%;
}

.el-select {
    margin-right: -8%;
    left: 10%;
}

.el-input-group__prepend {
    background-color: #fff;
}

select {
    width: 70px;
    height: 30px;
    overflow: hidden;
    margin-right: 20px;
}



/* 图片 */
.tupian {
    width: 100%;
    height: 64%;
    position: absolute;
    /* border:  solid red; */
    margin-top: 4%;
    margin-left: 1%;
}

.tupian li {
    display: block;
    float: left;
    width: 15%;
    height: 50%;
    /* list-style: none; */
    text-align: center;
    border: 1px solid #c4c4c4;
    box-shadow: 4px -4px 0px #dedede;
    margin-left: 5px;
    margin-right: 1%;
    border-radius: 14px;
    margin-bottom: 12px;
    overflow: hidden;
}

.tupian li p {
    display: block;
}

.tupian li p:first-child {
    width: 100%;
    height: 10%;
    overflow: hidden;
    font-size: 16px;
    margin-top: 1%;
}

.tupian li p:nth-child(2) {
    
    font-size: 18px;
    margin-top: 2%;
    color: blue;
    font-family: Helvetica, STHeiti STXihei, Microsoft YaHei, Arial;
}

.tupian li .gao {
    width: 100%;
    height: 20px;
    background-color: #fd72a2;
    margin-left: 26%;
    color: #fff;
    /* transform: translate(-50%, 5%); */
    transform: rotate(-46deg);
    text-align: center;
}

.tupian li .zhong {
    width: 100%;
    height: 20px;
    background-color: #fdaa6f;
    margin-left: 26%;
    color: #fff;
    /* transform: translate(-50%, 5%); */
    transform: rotate(-46deg);
    text-align: center;
}

.tupian li .di {
    width: 100%;
    height: 20px;
    background-color: #2ac7f9;
    margin-left: 26%;
    color: #fff;
    /* transform: translate(-50%, 5%); */
    transform: rotate(-46deg);
    text-align: center;
}


.tupian li span {
    display: inline-block;
    margin-left: 58px;
}




.echarts {
    margin: 0 auto;
}




.footer {
    position: absolute;
    display: block;
    bottom: 2%;
    left: 28%;
}






